// BG COLOR POKEMON GRASS TYPE
$GrassColor: #DEFDE0;

// BG COLOR POKEMON FIRE TYPE
$FireColor: #FDDFDF;

// BG COLOR POKEMON WATER TYPE
$WaterColor: #DEF3FD;

// BG COLOR POKEMON BUG TYPE
$BugColor: #A6B91A;

// BG COLOR POKEMON DARK TYPE
$DarkColor: #705746;

// BG COLOR POKEMON DRAGON TYPE
$DragonColor: #6F35FC;

// BG COLOR POKEMON ELECTRIC TYPE
$ElectricColor: #F7D02C;

// BG COLOR POKEMON FAIRY TYPE
$FairyColor: #D685AD;

// BG COLOR POKEMON FIGHTING TYPE
$FightingColor: #C22E28;

// BG COLOR POKEMON FLYING TYPE
$FlyingColor: #A98FF3;

// BG COLOR POKEMON GHOST TYPE
$GhostColor: #735797;

// BG COLOR POKEMON GROUND TYPE
$GroundColor: #E2BF65;

// BG COLOR POKEMON ICE TYPE
$IceColor: #96D9D6;

// BG COLOR POKEMON NORMAL TYPE
$NormalColor: #A8A77A;

// BG COLOR POKEMON POISON TYPE
$PoisonColor: #A33EA1;

// BG COLOR POKEMON PSYCHIC TYPE
$PsychicColor: #F95587;

// BG COLOR POKEMON ROCK TYPE
$RockColor: #B6A136;

// BG COLOR POKEMON STEEL TYPE
$SteelColor: #B7B7CE;